$greyDark: #040404;
$greyLight: #131313;
$greyLigher: #202020;

.outerWrap {
  background: grey;
  height: 100vh;
  min-height: 100%;
}

.App {
  height: calc(100vh - 90px);
  background: $greyLight;
}

.navBar {
  width: 250px;
  height: 100%;
  background: $greyDark;

  .logo {
    padding: 1.5rem 1.5rem;
    svg {
      max-width: 130px;
      p {
        fill: white;
      }
    }
  }
}

.musicControls {
  background: $greyLigher;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
